
#main {
    width: 990px;
    margin: 10px auto 0 auto;
}

header {
    position: relative;
    /*background-color: #9ac25a;*/
    background-image: url("../../images/bg-header.png");
    padding: 5px;
    margin: 0px 0px 10px 0px;
    height: 210px;
}

footer {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 15px 0px 15px;
}

nav {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#center {
    margin: 0 15px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

header a:link, header a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

header a:link:hover, header a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


